[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keyboard = "*"
mouse = "*"
pynput = "*"
pillow = "*"
imutils = "*"
pyobjc-core = "*"
pyobjc = "*"
pyautogui = "*"

[dev-packages]

[requires]
python_version = "3.9"
